In [34]:
import pandas as pd
car_selling_data ={'Brand':['Maruti','Maruti','Maruti','Maruti','Hyundai','Hyundai','Toyota','Mahindra','Mahindra','Ford','Toyota','Ford'],
'Year':[2010, 2011, 2009, 2013, 2010, 2011, 2011, 2010, 2013, 2010, 2010, 2011],
'Sold':[6, 7, 9, 8, 3, 5,2, 8, 7, 2, 4, 2]}
df = pd. DataFrame(car_selling_data)
print("\nOriginal DataFrame:\n",df)
grouped = df.groupby('Year')
print("\nGroup by year 2010:\n",grouped.get_group(2010))

Original DataFrame:
        Brand  Year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3     Maruti  2013     8
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyota  2011     2
7   Mahindra  2010     8
8   Mahindra  2013     7
9       Ford  2010     2
10    Toyota  2010     4
11      Ford  2011     2

Group by year 2010:
        Brand  Year  Sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4

In [36]:
student_data = {'Name': ['Amit', 'Praveen', 'Jagadesh','Rahul', 'Vishal', 'Suraj','Rishab', 'Sathish',
'Amit','Rahul', 'Praveen', 'Amit'],
'Roll_no': [23,54,29,36,23,38,12,45,34,36,54,23],
'Email': ['xxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxx@gmail.com','xx@gmail.com',
'xxxx@gmail.com', 'xxxxx@gmail.com','xxxxx@gmail.com', 'xxxxx@gmail.com',
'xxxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxxxxxx@gmail.com',
'xxxxxxxxxx@gmail.com']}
df=pd.DataFrame(student_data)
print("\nOriginal DataFrame:\n",df)
non_duplicate = df[~df.duplicated('Roll_no')]
print("\nRemoved duplicated rows:\n",non_duplicate)

Original DataFrame:
         Name  Roll_no                 Email
0       Amit       23        xxxx@gmail.com
1    Praveen       54      xxxxxx@gmail.com
2   Jagadesh       29      xxxxxx@gmail.com
3      Rahul       36          xx@gmail.com
4     Vishal       23        xxxx@gmail.com
5      Suraj       38       xxxxx@gmail.com
6     Rishab       12       xxxxx@gmail.com
7    Sathish       45       xxxxx@gmail.com
8       Amit       34       xxxxx@gmail.com
9      Rahul       36      xxxxxx@gmail.com
10   Praveen       54  xxxxxxxxxx@gmail.com
11      Amit       23  xxxxxxxxxx@gmail.com

Removed duplicated rows:
        Name  Roll_no             Email
0      Amit       23    xxxx@gmail.com
1   Praveen       54  xxxxxx@gmail.com
2  Jagadesh       29  xxxxxx@gmail.com
3     Rahul       36      xx@gmail.com
5     Suraj       38   xxxxx@gmail.com
6    Rishab       12   xxxxx@gmail.com
7   Sathish       45   xxxxx@gmail.com
8      Amit       34   xxxxx@gmail.com

In [26]:
details=pd.DataFrame({'ID':[101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME':['Arun', 'Praveen', 'Harish','Pooja', 'Rahul', 'Naresh','Saurabh','Anush','Dinesh',
'Mohit'],

'BRANCH':['Mech', 'Mech', 'CSE', 'CSE', 'CSE', 'EEE','EEE', 'ECE', 'ECE', 'IT']})
print("\nOriginal DataFrame 1:\n", details)
#creating datafram
fees_status=pd.DataFrame ({'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'PENDING': ['5000', '250', 'NIL', '9000', '15000', 'NIL', '4500', '1800', '250', 'NIL']})
print("\nOriginal DataFrame:\n", fees_status)
#mergind dataframe
print("\nMerged Dataframe\n",pd.merge(details,fees_status,on='ID'))

Filtering and Dropping func:
         Name Gender  Marks
0        Sai      M   90.0
1    Yuvasri      F   76.0
2  Poovannan      M   75.2
5    Rithika      F   75.2

In [16]:
one = pd.DataFrame({
'Name':['Sai','Sub','Poo','Yuvasri','Rithika'],
'subject_id':['sub1','sub2','sub4','sub6','sub5'],
'Marks_scored':[98,95,96,92,88]},
index=[1,2,3,4,5])
two=pd.DataFrame({
'Name':['Sanjay','Sangamithra','Rubasri','Nikesh','Somanath'],
'subject_id':['sub2','sub4','sub3','sub6','sub5'],
'Marks_scored':[86,95,87,99,91]},
index=[1,2,3,4,5])
print("\nOriginal DataFrame 1:\n",one)
print("\nOriginal DataFrame 2:\n",two)
print(pd.concat([one,two]))

Original DataFrame 1:
       Name subject_id  Marks_scored
1      Sai       sub1            98
2      Sub       sub2            95
3      Poo       sub4            96
4  Yuvasri       sub6            92
5  Rithika       sub5            88

Original DataFrame 2:
           Name subject_id  Marks_scored
1       Sanjay       sub2            86
2  Sangamithra       sub4            95
3      Rubasri       sub3            87
4       Nikesh       sub6            99
5     Somanath       sub5            91
          Name subject_id  Marks_scored
1          Sai       sub1            98
2          Sub       sub2            95
3          Poo       sub4            96
4      Yuvasri       sub6            92
5      Rithika       sub5            88
1       Sanjay       sub2            86
2  Sangamithra       sub4            95
3      Rubasri       sub3            87
4       Nikesh       sub6            99
5     Somanath       sub5            91