In [17]:
import pandas as pd
a=pd.read_csv("emp")
print(a)

    EMP ID           EMP NAME DATE OF JOIN LAST LOGIN  SALARY SENIOR OR NOT  \
0     1001       Dallas Wiley    4/10/2025     1.00pm   46545            No
1     1002       Mathew Small    3/11/1986     2.55pm   76645           Yes
2     1003       Zaria Bernal     4/4/2023     7.00am   28093            No
3     1004   Eithan Castaneda    5/12/2024    10.30pm   25510            No
4     1005     Keira Clements     6/8/1998    11.00am   30466           Yes
5     1006     Fisher Watkins     3/6/2024     5.00pm    9814            No
6     1107         Lola Logan     9/5/2024    12.00am   24745            No
7     1008        Rocco Chang    7/30/2020     3.00pm   16734            No
8     1009    Ophelia Watkins    4/18/2001     2.50pm   28803           Yes
9     1010          Nash Howe    11/5/2024     4.55am    7369            No
10    1011  Persephone Little    11/2/2025     5.34am   24695            No
11    1012     Lennox Fleming     4/5/2024     6.40pm    7209            No
12    1013      Fatima Baxter     3/5/2010    11.12pm   28690           Yes
13    1014         Tomas Ruiz     6/3/1934    12.10pm    6222           Yes
14    1015       Emery Avalos    11/3/2024     4.56pm   28788            No
15    1016         Coen Noble     4/1/2025     7.00am   25665            No
16    1017        Hunter Bush    12/9/2024     8.00pm    2437            No
17    1018     Tyson Lawrence     6/7/2024     4.46am   24496            No
18    1019      Lauren Dorsey    6/10/2024    12.38pm   10181            No
19    1020         Enoch Bass     3/8/2020     1.25am   20992            No
20    1021         Zahra Tate     3/6/1999     2.25pm   30871           Yes
21    1022        Dalton Wood     9/9/2019     6.40pm   30559           Yes
22    1023     Natalia Ibarra    5/12/1998     7.20am    5265           Yes
23    1024        Asa Griffin    12/3/2001     9.30am   21543           Yes
24    1025     Charlie Wilcox     4/7/2024     7.40pm  204344            No

   GENDER
0       M
1       F
2       M
3       M
4       M
5       F
6       F
7       M
8       M
9       M
10      M
11      F
12      M
13      M
14      M
15      M
16      M
17      F
18      F
19      F
20      M
21      M
22      F
23      M
24      M

In [27]:
b=pd.read_excel("ex emp.xlsx")
print(b)

    EMP ID           EMP NAME DATE OF JOIN LAST LOGIN  SALARY SENIOR OR NOT  \
0     1001       Dallas Wiley   2025-04-10     1.00pm   46545            No
1     1002       Mathew Small   1986-03-11     2.55pm   76645           Yes
2     1003       Zaria Bernal   2023-04-04     7.00am   28093            No
3     1004   Eithan Castaneda   2024-05-12    10.30pm   25510            No
4     1005     Keira Clements   1998-06-08    11.00am   30466           Yes
5     1006     Fisher Watkins   2024-03-06     5.00pm    9814            No
6     1107         Lola Logan   2024-09-05    12.00am   24745            No
7     1008        Rocco Chang   2020-07-30     3.00pm   16734            No
8     1009    Ophelia Watkins   2001-04-18     2.50pm   28803           Yes
9     1010          Nash Howe   2024-11-05     4.55am    7369            No
10    1011  Persephone Little   2025-11-02     5.34am   24695            No
11    1012     Lennox Fleming   2024-04-05     6.40pm    7209            No
12    1013      Fatima Baxter   2010-03-05    11.12pm   28690           Yes
13    1014         Tomas Ruiz   1934-06-03    12.10pm    6222           Yes
14    1015       Emery Avalos   2024-11-03     4.56pm   28788            No
15    1016         Coen Noble   2025-04-01     7.00am   25665            No
16    1017        Hunter Bush   2024-12-09     8.00pm    2437            No
17    1018     Tyson Lawrence   2024-06-07     4.46am   24496            No
18    1019      Lauren Dorsey   2024-06-10    12.38pm   10181            No
19    1020         Enoch Bass   2020-03-08     1.25am   20992            No
20    1021         Zahra Tate   1999-03-06     2.25pm   30871           Yes
21    1022        Dalton Wood   2019-09-09     6.40pm   30559           Yes
22    1023     Natalia Ibarra   1998-05-12     7.20am    5265           Yes
23    1024        Asa Griffin   2001-12-03     9.30am   21543           Yes
24    1025     Charlie Wilcox   2024-04-07     7.40pm  204344            No

   GENDER
0       M
1       F
2       M
3       M
4       M
5       F
6       F
7       M
8       M
9       M
10      M
11      F
12      M
13      M
14      M
15      M
16      M
17      F
18      F
19      F
20      M
21      M
22      F
23      M
24      M

In [37]:
c=pd.DataFrame(a)
print("columns",c.columns)
print(c.shape)

columns Index(['EMP ID', 'EMP NAME', 'DATE OF JOIN', 'LAST LOGIN', 'SALARY',
       'SENIOR OR NOT', 'GENDER'],
      dtype='object')
(25, 7)

print("EMP NAME \n",b['EMP NAME'])

In [46]:
print(b[1:2])

   EMP ID      EMP NAME DATE OF JOIN LAST LOGIN  SALARY SENIOR OR NOT GENDER
1    1002  Mathew Small   1986-03-11     2.55pm   76645           Yes      F

In [48]:
print(b.loc[5])

EMP ID                          1006
EMP NAME              Fisher Watkins
DATE OF JOIN     2024-03-06 00:00:00
LAST LOGIN                    5.00pm
SALARY                          9814
SENIOR OR NOT                     No
GENDER                             F
Name: 5, dtype: object

In [58]:
print(a.loc[b['SALARY']==7369])

   EMP ID   EMP NAME DATE OF JOIN LAST LOGIN  SALARY SENIOR OR NOT GENDER
9    1010  Nash Howe    11/5/2024     4.55am    7369            No      M

In [56]:
print(b['SALARY']/999)

0      46.591592
1      76.721722
2      28.121121
3      25.535536
4      30.496496
5       9.823824
6      24.769770
7      16.750751
8      28.831832
9       7.376376
10     24.719720
11      7.216216
12     28.718719
13      6.228228
14     28.816817
15     25.690691
16      2.439439
17     24.520521
18     10.191191
19     21.013013
20     30.901902
21     30.589590
22      5.270270
23     21.564565
24    204.548549
Name: SALARY, dtype: float64