In [1]:
import pandas as pd
emp = pd.Series(['bhavan', 'bhavya', 'bharath'])
i = pd.Series([1, 2, 3])
f = {'NAME': emp, 'ID': i}
r=pd.DataFrame(f)
print(r)

      NAME  ID
0   bhavan   1
1   bhavya   2
2  bharath   3

In [3]:
print("\n Extract one colum :\n")
print(r['NAME'])
print("\n Addiing new column :\n")
r['ID']=pd.Series([80,90,70])
r['AGE']=pd.Series([28,38,48])
print(r)

 Extract one colum :

0     bhavan
1     bhavya
2    bharath
Name: NAME, dtype: object

 Addiing new column :

      NAME  ID  AGE
0   bhavan  80   28
1   bhavya  90   38
2  bharath  70   48

In [5]:
print("\n Deleting new column : \n")
del r['AGE']
print(r)
print("\n Extracting the second row : \n")
print(r.loc[1])
print("\n Slice rows :\n",r[1:4])

 Deleting new column :

      NAME  ID
0   bhavan  80
1   bhavya  90
2  bharath  70

 Extracting the second row :

NAME    bhavya
ID          90
Name: 1, dtype: object

 Slice rows :
       NAME  ID
1   bhavya  90
2  bharath  70

In [15]:
x=pd.DataFrame([['vic',100],['rash',110]],columns=['NAME','ID'])
print("\n Adding new row values :\n",pd.concat([r,x]))
print("\n Deleting particular row :\n",r.drop(2))
print(r.loc[1])
print("\n Slice rows :\n ",r[1:4])

 Adding new row values :
       NAME   ID
0   bhavan   80
1   bhavya   90
2  bharath   70
0      vic  100
1     rash  110

 Deleting particular row :
      NAME  ID
0  bhavan  80
1  bhavya  90
NAME    bhavya
ID          90
Name: 1, dtype: object

 Slice rows :
        NAME  ID
1   bhavya  90
2  bharath  70